{% extends "base.html" %}

{% block content %}
<!-- Hero con carrusel pantalla completa -->
<section class="marvel-hero">
  <div class="carousel-container fullscreen">
    <div class="carousel-slide active">
      <img src="/static/img/Marvel_carrusel.jpeg" alt="Películas Marvel">
      <h2 class="title is-2">PELÍCULAS MARVEL</h2>
      <p class="subtitle is-4">Un viaje cinematográfico que conecta todo el MCU.</p>
    </div>
    <div class="carousel-slide">
      <img src="/static/img/Personajes_carrusel.jpeg" alt="Personajes Marvel">
      <h2 class="title is-2">PERSONAJES MARVEL</h2>
      <p class="subtitle is-4">Los héroes y villanos que marcan generaciones.</p>
    </div>
    <div class="carousel-slide">
      <img src="/static/img/Villanos_carrusel.jpg" alt="Curiosidades Marvel">
      <h2 class="title is-2">CURIOSIDADES MARVEL</h2>
      <p class="subtitle is-4">Secretos y detalles detrás de este universo.</p>
    </div>

    <!-- Botones de navegación -->
    <button class="carousel-btn prev">⟨</button>
    <button class="carousel-btn next">⟩</button>
  </div>
</section>
{% endblock %}