{% extends 'base.html' %}

{% block content %}
<section class="section bg-estelar">
  <div class="container">
    <h1 class="title has-text-warning has-text-centered" style="font-size: 8rem;">🎬 PELÍCULAS</h1>
    <p class="subtitle is-3 has-text-white has-text-centered">Explora las películas del universo Marvel</p>
  </div>

  <div class="columns is-multiline is-centered">
  {% for pelicula in peliculas %}
    <div class="column is-one-third">
      <a href="/peliculas/{{ pelicula.id }}/page">
        <div class="pelicula-card">
          <div class="pelicula-card-image">

            {% if pelicula.imagen_url %}
              <img src="{{ pelicula.imagen_url }}" alt="{{ pelicula.titulo }}">
            {% else %}
              <div class="placeholder">
                <span class="placeholder-text">SIN IMAGEN</span>
              </div>
            {% endif %}

          </div>
          <div class="pelicula-overlay">
            <h2 class="title is-3 has-text-warning pelicula-titulo">{{ pelicula.titulo }}</h2>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>

  {% if peliculas|length == 0 %}
    <div class="has-text-centered">
      <p class="has-text-grey is-size-4">No hay películas registradas aún.</p>
    </div>
  {% endif %}
</section>
{% endblock %}