{% extends 'base.html' %}

{% block content %}
<section class="section bg-estelar">
  <div class="container">
    <h1 class="title has-text-warning has-text-centered" style="font-size: 6rem;">🦸 Personajes</h1>

    <h3 class="subtitle is-4 has-text-light">🧑‍🚀 Listado de Personajes</h3>

    <div class="columns is-multiline">
      {% for personaje in personajes %}
      <div class="column is-one-third is-flex is-flex-direction-column is-align-items-center">
        <div class="card">

          <div class="card-image">
            {% if personaje.imagen_url %}
              <figure class="image" style="width: 100%; max-height: 300px; overflow: hidden;">
  <img src="{{ personaje.imagen_url }}" alt="{{ personaje.nombre }}"
       style="width: 100%; height: auto; object-fit: contain; border-radius: 8px;">
</figure>
            {% else %}
              <figure class="image is-square has-background-light has-text-centered">
                <p class="has-text-grey pt-6">Sin imagen</p>
              </figure>
            {% endif %}
          </div>

          <div class="card-content">
            <p class="title is-3 has-text-warning">{{ personaje.nombre }}</p>
<p class="subtitle is-5 has-text-light">{{ personaje.poder }}</p>

            <span class="tag is-{{ 'success' if personaje.estado else 'danger' }}">
              {{ "Activo" if personaje.estado else "Eliminado" }}
            </span>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>

    {% if not personajes %}
    <div class="notification is-warning has-text-centered mt-6">
      Sin resultados
    </div>
    {% endif %}

  </div>
</section>
{% endblock %}